ion-title{
    text-align: center;
}
ion-button span{
    font-weight: 500;
    position: absolute;
    color: #e10098;
    padding: 6px 3px;
    top: 8px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}