ion-button.links{
    margin: 1.5em;
    --border-radius: 0px;
    text-transform: none;
}

ion-card.inicio{
    border-radius: 0 10% 0 0;
    margin: 1.5em;
}

ion-card.sig{
    border-radius: 0%;
    margin: 1.5em;
}

ion-card-content.principal{
    padding: 0%;
}
